 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Tech I've Worked With</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                        <ul>
                            <li>
                                Java (with Android development)
                            </li>
                            <li>
                                Angular
                            </li>
                            <li>
                                Node.js with Express
                            </li>
                            <li>
                                Javascript
                            </li>
                            <li>
                                Firebase
                            </li>
                            <li>
                                HTML 5 / CSS 3
                            </li>
                            <li>
                                Linux / Unix
                            </li>
                            <li>
                                C#
                            </li>
                        </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li>
                            Git / Github
                        </li>
                        <li>
                            MySQL
                        </li>
                        <li>
                            Python
                        </li>
                        <li>
                            R
                        </li>
                        <li>
                            Boostrap
                        </li>
                        <li>
                            Digital Ocean
                        </li>
                        <li>
                            Typescript
                        </li>
                        <li>
                            Mongo
                        </li>
                    </ul>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>